.content ul {
  margin-left: 1em !important;
}

div.field > input:not([type=file]) {
  width: 50%;
  margin : 0 auto;
}

.button {
  margin-top: 1rem;
}

img#logo {
  margin-right: 1rem;
}